.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-left: 200px;
}

.form__group {
    display: flex;
    align-items: center;
    width: 70%;
    height: 50px;
}

.form__group-title {
    width: 30%;
    padding-left: 20px;
}

.form__label--item {
    font-size: 13px;
    font-weight: bold;
}

.form__label--required {
    font-size: 13px;
    color: red;
    font-weight: bold;
}

.form__input--name input {
    height: 30px;
    width: 200px;
    margin-right: 10px;
}

.form__input--sample {
    margin-left: 200px;
}

.form__input--sample label {
    font-size: 13px;
    color: darkgrey;
    padding-top: 0px;
    margin-right: 150px;
}


.form__input--mail input {
    height: 30px;
    width: 420px;
    margin-right: 10px;
}


.form__input--postcode input {
    height: 30px;
    width: 400px;
    margin-right: 10px;
}

.form__input--postcode::before {
    content: "〒";
}

.form__input--address input {
    height: 30px;
    width: 420px;
    margin-right: 10px;
}

.form__input--buildingname input {
    height: 30px;
    width: 420px;
    margin-right: 10px;
}

.form__input--opinion {
    width: 100%;
}

.form__group--opinion {
    display: flex;
    width: 70%;
    height: 100px;
}

.form__input--opinion textarea {
    width: 420px;
    height: 100px;
    margin-top: 5px;
    padding: 5px;
    resize: vertical;
    box-sizing: border-box;
}

.form__button {
    margin-left: 250px;
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px 40px;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}